h1{text-align: center;}
table{width:100% }
td{border: 0px solid;  width: 50%; text-align: center;}
img{border-radius: 20px;}
.gray{color:#6C757D}
.#myDIV {
  line-height: 16px;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {line-height: 50px;}
}
.xxs{font-size:120px-small;}
.xs{font-size:100px-small;}
.s{font-size:150px-small;}
.m{font-size:160px-small;}
.xl{font-size:170px-small;}
.xxl{font-size:180px-small;}
